version: '3.8'

services:
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGODB_DB: ${MONGODB_DB}
      MONGODB_USER: ${MONGODB_USER}
      MONGODB_PASSWORD: ${MONGODB_PASSWORD}
      volumes: 
        - ./init.sh:/docker-entrypoint-initdb.d/init.sh:ro
    ports:
      - "27017:27017"
    networks:
      - meteo-network

  scrapper:
    build:
      context: .
      dockerfile: Dockerfile.scrapper
    depends_on:
      - mongodb
    networks:
      - meteo-network
    volumes:
      - /dev/shm/sensors:/dev/shm/sensors

networks:
  meteo-network:
    driver: bridge

